//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Tue 08 05 14:23:41 2025

IO_LOC "DAC_Output[7]" 35;
IO_PORT "DAC_Output[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[6]" 34;
IO_PORT "DAC_Output[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[5]" 32;
IO_PORT "DAC_Output[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[4]" 31;
IO_PORT "DAC_Output[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[3]" 30;
IO_PORT "DAC_Output[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[2]" 29;
IO_PORT "DAC_Output[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[1]" 28;
IO_PORT "DAC_Output[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DAC_Output[0]" 27;
IO_PORT "DAC_Output[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "Square_Wave_IO_Toggle_PIN" 41;
IO_PORT "Square_Wave_IO_Toggle_PIN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CLK_100MHZ" 33;
IO_PORT "CLK_100MHZ" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_PORT "CLK_594MHZ" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "MSCLK" 44;
IO_PORT "MSCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "MOSI" 46;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS4" 42;
IO_PORT "CS4" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS32" 43;
IO_PORT "CS32" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK_27MHZ" 45;
IO_PORT "CLK_27MHZ" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "LED" 10;
IO_PORT "LED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
