//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Mon 08 04 14:49:50 2025

IO_PORT "DAC_Output[14]" IO_TYPE=LVCMOS33;
IO_LOC "DAC_Output[13]" 29;
IO_PORT "DAC_Output[13]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[12]" 28;
IO_PORT "DAC_Output[12]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[11]" 27;
IO_PORT "DAC_Output[11]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[10]" 23;
IO_PORT "DAC_Output[10]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[9]" 22;
IO_PORT "DAC_Output[9]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[8]" 21;
IO_PORT "DAC_Output[8]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[7]" 20;
IO_PORT "DAC_Output[7]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[6]" 19;
IO_PORT "DAC_Output[6]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[5]" 18;
IO_PORT "DAC_Output[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[4]" 17;
IO_PORT "DAC_Output[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[3]" 16;
IO_PORT "DAC_Output[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[2]" 15;
IO_PORT "DAC_Output[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[1]" 14;
IO_PORT "DAC_Output[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DAC_Output[0]" 13;
IO_PORT "DAC_Output[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Square_Wave_IO_Toggle_PIN" 4;
IO_PORT "Square_Wave_IO_Toggle_PIN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "LED" IO_TYPE=LVCMOS33;
IO_LOC "CLK_594MHZ" 44;
IO_PORT "CLK_594MHZ" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "MSCLK" 3;
IO_PORT "MSCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "MOSI" 9;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS4" 6;
IO_PORT "CS4" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS32" 7;
IO_PORT "CS32" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK_27MHZ" 45;
IO_PORT "CLK_27MHZ" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
